<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="inteltbb.devel.win" version="2021.13.1.11" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2021.13.1.11" targetFramework="native" />
  <package id="tbb" version="4.2.3.1" targetFramework="native" />
  <package id="tbb.redist" version="4.2.3.1" targetFramework="native" />
</packages>